body {
    background: url(image01.jpg);
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: firebrick;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    margin-left: 15px;
}


#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: gold;
    padding: 50px;
    border: 5px solid darkorange;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

